/* Project Details */
.project-details-container {
  display: block;
  border-radius: 0.25rem;
  background-color: #f0dfee;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.project-members-container,
.project-description-container {
  display: block;
  margin-bottom: 1rem;
}

.project-member {
  display: block;
  margin-bottom: 0.5rem;
}

.project-member .name,
.project-member .designation {
  display: block;
  margin: 0px;
}

.project-member .name {
  font-weight: 600;
}

.project-description-container .project-description {
  font-size: 0.9rem;
}

.article-author p:before {
  content: "by ";
  font-weight: 400;
}

.article-author p {
  margin-top: -10px;
  font-style: italic;
  font-weight: 600;
}
